APP_CODE_PATH_HOST=~/wwwroot
DATA_PATH_HOST=~/.londx/data

################## CADDY_FILE#######################

CADDY_FILE=./caddy/Caddyfile


################ WORKSPACE #######################

WORKSPACE_SSH_PORT=2222

################# NODEJS #################################

NODE_VERSION=10
DB_POSTGRES_HOST=postgres
DB_POSTGRES_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379

DB_POSTGRES=postgres
DB_POSTGRES_DATABASE_SITE1=default
DB_POSTGRES_DATABASE_SITE2=default

DB_MYSQL=mysql


############## POSTGRES ################################

DB_POSTGRES_HOST=postgres
DB_POSTGRES_DATABASE=default
DB_POSTGRES_USERNAME=default
DB_POSTGRES_PASSWORD=secret


############### ENV ########################


# NGINX_HOST_LOG_PATH=~/.londx/log/nginx
# NGINX_SITES_PATH=./openresty/sites

HOST_HTTP_PORT=80
HOST_HTTPS_PORT=443
HOST_DEMO_PORT=2015


NETWORKS_DRIVER=bridge
VOLUMES_DRIVER=local
NODE_ENV=production
PM2_ENV=pm2-dev
