0.0.0.0:2015 {
    root /var/www/site1/
    git {
	repo https://gitee.com/caddy-china/docs
	## 私有项目需要添加key
	# key /root/.ssh/id_rsa
        path /home/caddy-docs
		## password 改成你的密码
        hook  /webhook password
		## 使webhook支持码云
        hook_type   generic
		## 更新完之后如果需要执行命令，比如 npm run build，如果需要多个命令，多行then 即可
	    # then npm run build
    }
    ## 如果需要自动申请 https 证书  请开启 tls 。
    #tls xx@163.com
    gzip
}